body {
  display: grid;
  place-items: center;
  background: linear-gradient(135deg, #ffffff 0%, #d5e0f1 90%);
  color: #333;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
}
h2 {
  text-align: center;
  color: rgb(235, 76, 76);
}
li {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}
a:visited {
  color: royalblue;
}
